body {
    background-color: #c4f5cd;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #6a6e6e;
}

ul {
    list-style: none;
    padding: 0px;
}

.buy-milk {
    background-color: #fff;
    border: 1px solid grey;
    border-bottom: none;
}

.learn-html {
    background-color: #a2d986;
    border: 1px solid grey;
    border-bottom: none;
}

.write-css {
    background-color: #fff;
    border: 1px solid grey;
    border-bottom: none;
}

.be-awesome {
    background-color: #a2d986;
    border: 1px solid grey;
}

.buy-milk:hover, .learn-html:hover, .write-css:hover, .be-awesome:hover {
    background-color: seagreen;
}

a {
    float: right;
    background-color: red;
    text-align: center;
    text-decoration: none;
    padding: 1px 5px;
}

a:hover {
    background-color: pink;
    text-decoration: underline;
}

.pointer:hover {
    cursor: pointer;
    
}

#yellow-box {
    background-color: yellow;
    padding: 30px;
    
}

#button {
    background-color: teal;
    min-width: 122px;
    margin-top: 30px;
    color: #fff;
    padding: 4px;
    border: 1px solid grey;
    border-radius: 7px;

}